body {
  margin: 0;
  padding: 0;
  background-image: url("../images/bg9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 280%;
  text-align: center;
  color: #fff;
}
table {
  /* border-collapse: collapse; */
  /* border: 2px solid rgb(255, 255, 255); */
  border-collapse: collapse;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);

  width: 95%;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5%;
}

th {
  height: 70px;
  width: 15%;
  color: #fff;
  background-color: #37a0ec;
  /* border: 2px solid rgb(255, 255, 255); */
  border-collapse: collapse;
  font-size: 150%;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
}
.img {
  width: 15%;
}
td {
  height: 200px;
  font-size: 150%;
  background-color: rgb(251, 251, 251);
  /* border: 2px solid black; */
  border-collapse: collapse;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
}
.description {
  font-size: 100%;
}
